@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

/* input */
input,
textarea {
  height: 40px;
  border: 1px solid gray;
  width: 100%;
  padding-left: 20px;
  margin-top: 20px;
}

input:focus {
  outline: none;
  border: 2px solid rgb(86, 65, 65);
}
textarea {
  height: 100px;
  padding: 10px;
}

/* Custom text justify class */
.text-justify {
  text-align: justify;
}

.cursor-circle {
  position: fixed;
  width: 40px; /* Adjust circle size as needed */
  height: 40px;
  border: 2px solid rgba(255, 0, 0, 0.8); /* Circle color and transparency */
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* Ensure the default arrow cursor is visible */
body {
  cursor: default;
}
